*{
    font-family: Epidemic, sans-serif;
    color: white;
}




/*Cor do background*/
body{
    background-color: #00040c;
}



/*Formatação da Barra de navegção topo*/

#Logo{
    /*Aumentando o tamanho do menu*/
    
    font-size: 1.4em;
}/*Logo da barra de navegação*/

#Produtos{
    /*Criando um background para os produtos*/
    
    background-color: #136b61;   
    color: white;

    border-radius: 5px;
    padding: 6px 18px;
}/*Botão com background*/

.menu{
/*Aumentando a grossura de todas as palavras no menu*/

font-weight: 600;
}/*Barra de navegação*/





/*Formatação da area de texto/Imgs*/
.InfoBox{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 96%;
    margin: auto;
   
}

.InfoBox div{
    width: 50%;
}

.TextBox{
    text-align: 22px;
}
.TextBox h1{
    font-weight: 700;
    font-size: 2.7em;
    
}





/*Formatação da caixa com classe de produtos*/
.BoxProdutos{
    display: flex;
    justify-content: center;

}/*Formatando como os produtos vão se comportar*/

.produto{
    /*Definindo a estrutura da caixa onde fica as categorias*/
    display: flex;
    align-items: center;
    justify-content: center;
}/*Formatando como os itens dentro de produtosvão se comportar*/

.produto img{
    width: 54%;
    border-radius: 10px 0px 0px 10px ;

}/*Formatando img*/


.Texto{
    background-color: #0d121f;
    height: 100%;

    border-radius: 0px 16px 16px 0px ;
    padding-right: 36px;
    padding-left: 8px;

    display: flex;
    justify-content: center;
    flex-direction: column;

    margin-left: -100px;
    transition: 0.8s;
    
    z-index: -1;
}/*Formatando a caixa de texto*/
.Texto button{
    width: 60%;
    opacity: 0;
    margin: 0px auto;

    background-color: #136b61;

    border: unset;
    outline: unset;
    border-radius: 4px;

    padding: 6px 12px;

    font-size: 0.78em;
    font-weight: 500;

    text-transform: uppercase;

    transition: 0.4s;
    transition-delay: 0.6s,250ms;
   
}
.produto:hover .Texto button{
    opacity: 1;
}


.Texto h4, .Texto p{
    opacity: 0.2;
    transition: 0.5s;
    transition-delay: 0.35s,250ms;
 
}/*Criando animação para o texto*/

.produto:hover .Texto h4,.produto:hover  .Texto p{
    opacity: 1;
    margin-left: 0px;
}/*Criando animação para o texto*/

.produto:hover .Texto{
    margin-left: 0px;

}/*Criando animação para o texto*/


















@media (max-width: 575.98px) { 

 }

@media (min-width: 576px) and (max-width: 767.98px) {  }

@media (min-width: 768px) and (max-width: 991.98px) {  }


@media (min-width: 992px) and (max-width: 1199.98px) { 
    #Produtos{
        margin-left:14px ;
    }
 }


@media (min-width: 1200px) { 

    /*Barra de navegação*/
    #Produtos{
        margin-left:14px ;
    }

    /*Padding no container*/
    .p{
        padding: 8px 24px;
    }
 }
 
























@media (max-width: 575.98px) {  }

@media (min-width: 576px) and (max-width: 767.98px) {  }

@media (min-width: 768px) and (max-width: 991.98px) {  }

@media (min-width: 992px) and (max-width: 1199.98px) {  }

@media (min-width: 1200px) {  }